h1{
    color:black;

}

a{
    color:black;
}


.nav-link{
    color:black;
}


.jumbotron{
    margin:20px;
}

.centradotitulos{
    text-align: center;
    font: oblique bold 250% cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color:rgb(255, 255, 65);
}

.centradotitulossedes{
    text-align: center;
    font: oblique bold 200% cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color:rgb(255, 255, 65);
}



.facebook{
    display: 'flex';
    justify-content: center;
    align-items: center;
    margin: auto;
}


.parrafos{
    text-align: center;
}

.btn btn-danger{
    text-align: center;
}

/* Zoom a imagen */
.rounded-circle{
    transition: 0.5s;
    object-fit: cover;
    overflow:hidden;
}

.rounded-circle:hover{
    transform:scale(1.2)

}

.square:hover{
    transform:scale(0.9)

}


.tamañoimagen{
    max-width: 500px;
    max-height: 500px;
}
.texto-negro {
    color: black;
    font-size: 18px;
}


.centradotitulosproductos{
    text-align: center;
    font: oblique bold 150% cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color:rgb(255, 255, 65);
}